.logo-color {
  color: #BA55D3;
}
.btn-border-color {
  border-color: #BA55D3;
}
.text-lemon {
  color: #BA55D3;
}
.bg-lemon {
  background-color: #BA55D3;
}
.peddle-shadow {
  color: #BA55D3;
}
.h-text-shadow {
  text-shadow: 0px 2px 4px #BA55D3;

}