.logo-color {
  color: #BA55D3;
}
.btn-border-color {
  border-color: #BA55D3;
}
.text-lemon {
  color: #BA55D3;
}
.bg-lemon {
  background-color: rgb(186, 85, 211);
}
.peddle-shadow {
  color: #BA55D3;
}
.h-text-shadow {
  text-shadow: 0px 2px 4px #BA55D3;

}
.btn-shadow {
  box-shadow:
-9px 20px 50px -13px rgba(186, 85, 211, 0.685);
}
.scrollBar::-webkit-scrollbar{
  display: none;
}
.bg-footer {
  background-color: #F8F8F8;
}
.margin-minus {
  margin-top: -100px;
}
.div-shadow {
  box-shadow: -6px -1px 67px -33px rgba(13, 16, 37, 0.55);left: 0px; right:0px
}